
.container {
    display:flex;
    position:absolute;
    padding:50px 50px;
}
.container .row img{
    display:grid;
    padding:20px 20px;
    
}
.content{
    display: none;
}
.card:hover .content{
    display: block;
    height: 30px;
    background-color: pink;
    opacity: 40%;
}